@inherits LayoutComponentBase

<PageTitle>ToDoListBlazorServer</PageTitle>

<div class="page d-flex align-items-center justify-content-center min-vh-100 bg-light">
    <main class="w-100" style="max-width: 500px;">
        <div class="card shadow p-4 rounded-4">
            <div class="card-body">
                @Body
            </div>
        </div>
    </main>
</div>

